{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "import"
  ],
  "rules": {
    "no-param-assign": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "class-methods-use-this": 0
  },
  "globals": {
    "test": true,
    "expect": true,
    "describe": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterEach": true,
    "afterAll": true,
    "jasmine": true,
    "it": true
  }
}
